

.img-position {
    position: absolute !important;
    top: 123px !important;
    right: 16px !important;
    z-index: 1 !important;
    padding-top: 180px !important;
    /* max-height: 319px !important; */
    width: 319px !important;
    min-height: 319px !important;
    display: block !important;
    filter: grayscale(100%) !important;
}


.custom-frame-overlay {
    z-index: 2 !important;
    object-fit: contain !important;
    pointer-events: none !important;
  }


.text-white-color{
    color: "#fff" !important;
}

.membre{
    margin-top: 280px !important;
}


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Poids différents */
.inter-thin {
    font-family: "Inter", sans-serif !important;
    font-weight: 100 !important;
  }
  
  .inter-light {
    font-family: "Inter", sans-serif !important;
    font-weight: 300 !important;
  }
  
  .inter-regular {
    font-family: "Inter", sans-serif !important;
    font-weight: 400 !important;
  }
  
  .inter-medium {
    font-family: "Inter", sans-serif !important;
    font-weight: 500 !important;
  }
  
  .inter-semibold {
    font-family: "Inter", sans-serif !important;
    font-weight: 600 !important;
  }
  
  .inter-bold {
    font-family: "Inter", sans-serif !important;
    font-weight: 700 !important;
  }
  
  .inter-extrabold {
    font-family: "Inter", sans-serif !important;
    font-weight: 800 !important;
  }
  
  .inter-black {
    font-family: "Inter", sans-serif !important;
    font-weight: 900 !important;
  }
  
  /* Styles italique */
  .inter-thin-italic {
    font-family: "Inter", sans-serif !important;
    font-weight: 100;
    font-style: italic;
  }
  
  .inter-light-italic {
    font-family: "Inter", sans-serif !important;
    font-weight: 300;
    font-style: italic;
  }
  
  .inter-regular-italic {
    font-family: "Inter", sans-serif !important;
    font-weight: 400;
    font-style: italic;
  }
  
  .inter-bold-italic {
    font-family: "Inter", sans-serif !important;
    font-weight: 700;
    font-style: italic;
  }
  
  .inter-black-italic {
    font-family: "Inter", sans-serif !important;
    font-weight: 900;
    font-style: italic;
  }
  

  .text-outline {
    font-size: 20px !important; /* Taille du texte */
    font-weight: bold; /* Gras pour un meilleur effet */
    color: #9b9b9b; /* Rendre le texte transparent */
    -webkit-text-stroke: 0.5px #9b9b9b !important; /* Contour noir de 2px */
  }
  

  /* styles.css */

/* Wrapper for the whole element */
.position-wrapper {
    position: absolute;
    top: 0;
    start: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
  }
  
  /* Right Side Content */
  .right-side-content {
    position: absolute;
    height: 100%;
    start: 0;
    color: white;
    width: 45%;
    max-width: 45%;
    z-index: 4;
  }
  
  /* Flex column for content */
  .flex-column-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 1rem;
  }
  
  /* Logo */
  .logo-container {
    margin-bottom: 1rem;
    margin-top: 1rem;
    display: none;
  }
  
  .logo-container img {
    height: 80px;
    max-width: 100%;
    object-fit: contain;
  }
  
  /* Membership Details */
  .membership-title {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 2rem;
    text-align: center;
    color: white;
    display: none;
  }
  
  .membership-subtitle {
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 80px;
    text-align: center;
    color: white;
    display: none;
  }
  
  .membre-container {
    margin-bottom: 1rem;
  }
  
  .membre-container h3 {
    font-size: 15px;
    text-transform: uppercase;
    padding: 0.5rem 2rem;
    text-align: center;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 5px black;
  }
  
  /* Member Name */
  .member-name {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin-top: 0;
  }
  
  /* Member description */
  .member-description {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-top: 10px;
    margin-bottom: 5rem;
  }
  
  /* Date and time */
  .date-time-container {
    display: flex;
    justify-content: space-between;
    margin: 1.25rem 3rem;
    align-items: center;
    gap: 1rem;
  }
  
  .date-time-container h3 {
    font-size: 17px;
    font-weight: bold;
    color: white;
  }
  
  /* Calendar and Clock Icons */
  .fa-calendar-alt,
  .fa-clock {
    color: hsl(22, 100%, 64%) !important;
  }
  
  /* Comment */
  .comment-container {
    font-size: 14px;
    text-break: word-wrap;
    margin-top: 1rem;
    width: 100%;
    max-width: 100%;
    padding: 0 1rem;
  }
  
  /* Website Link */
  .website-link {
    margin-top: auto;
    margin-bottom: 1rem;
  }
  
  .website-link a {
    font-weight: bold;
    text-decoration: none;
    color: black;
  }
  
  .website-link .text-white-color {
    color: white;
  }
  